<form action='/search' method='post'>
  <label name='origin'>Starting Address</label><br>
  <input type='text' name='origin'><br>
  <label name='destination'>Destination</label><br>
  <input type='text' name='destination'><br>
  <input type="radio" name="mode" value="driving"> Driving
  <input type="radio" name="mode" value="walking"> Walking
  <input type="radio" name="mode" value="bicycling"> Bicycling
  <input type="radio" name="mode" value="transit"> Transit <br>
  <input type='submit' value='Go!'>
</form>